@font-face {
  font-family: "iconfont"; /* Project id 3891513 */
  src: url('iconfont.woff2?t=1676504493335') format('woff2'),
       url('iconfont.woff?t=1676504493335') format('woff'),
       url('iconfont.ttf?t=1676504493335') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner5:before {
  content: "\e857";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-Aa:before {
  content: "\e636";
}

.icon-fangdajing:before {
  content: "\e662";
}

